.DS_Store
.tox/*
RigolWFM.egg-info/*
RigolWFM/__pycache__/*
dist/*
docs/.ipynb_checkpoints
docs/manuals
docs/sources
docs/github.com
docs/first_version
docs/api
docs/_build
ksy/zzz/*
test/*
wfm/DS1054Z-C-original.csv
wfm/DS1102E-A.csv
wfm/DS1102E-A.wav
wfm/DS4022-A.csv
wfm/DS4022-A.wav
wfm/MSO1104.csv
wfm/MSO1104.wav