_site/
__pycache__

.DS_Store
.cache/
.jupyterlite.doit.db
.lite_src/
.pytest_cache/
.venv/

Claude.md
dist/*
docs/_build
docs/.ipynb_checkpoints
docs/api
docs/research/*
RigolWFM.egg-info/*
RigolWFM/__pycache__/*
uv.lock

wfm/DS1054Z-C-original.csv
