_site/
__pycache__

.DS_Store
.cache/
.gh-pages/
.jupyterlite.doit.db
.lite_src/
.pytest_cache/
.venv/

Claude.md
dist/
docs/_build/
docs/.ipynb_checkpoints
docs/.jupyter/
docs/api
docs/raw.githubusercontent.com/
docs/old/
docs/vendors/
RigolWFM.egg-info/
RigolWFM/__pycache__/
uv.lock

wfm/DS1054Z-C-original.csv
wfm/*.sr
