include CHANGELOG.txt
include LICENSE.txt
include MANIFEST.in
include README.md

include doc/*.ipynb
include doc/DS1052E.wfm
include doc/DS1102E.wfm
include doc/other-rigol-scopes/wfm1000C.c
include doc/other-rigol-scopes/wfm1000D.m
include doc/other-rigol-scopes/wfm1000D.py

include scripts/*.py