include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include README.rst

exclude .gitattributes
exclude .gitignore
exclude release.txt
exclude todo
exclude Makefile
exclude wfm/*
exclude ksy/*
exclude docs
exclude docs/*