[build-system]
requires = [
    "setuptools >= 35.0.2",
    "setuptools_scm >= 2.0.0, <3"
]
build-backend = "setuptools.build_meta"

[tool.tox]
legacy_tox_ini = """

[tox]
envlist = py37

[testenv]

commands =
    wfmconvert E info {toxinidir}/wfm/DS1052E.wfm
    wfmconvert Z info {toxinidir}/wfm/DS1054Z-A.wfm
    wfmconvert 2 info {toxinidir}/wfm/DS2000-A.wfm
    wfmconvert 4 info {toxinidir}/wfm/DS4024-A.wfm
    
    wfmconvert --force E csv {toxinidir}/wfm/DS1102E-A.wfm
    wfmconvert --force Z csv {toxinidir}/wfm/MSO1104.wfm
    wfmconvert --force 4 csv {toxinidir}/wfm/DS4022-A.wfm
    wfmconvert --force 2 csv {toxinidir}/wfm/DS2202.wfm

    wfmconvert --force E wav {toxinidir}/wfm/DS1102E-A.wfm
    wfmconvert --force Z wav {toxinidir}/wfm/MSO1104.wfm
    wfmconvert --force 4 wav {toxinidir}/wfm/DS4022-A.wfm
    wfmconvert --force 2 wav {toxinidir}/wfm/DS2202.wfm
"""
