## (for development)
## pip install -r requirements-dev.txt
##
-e .
#
# Test
pytest
#
#
# Testing notebooks
kaitaistruct
numpy
matplotlib
nbconvert
nbformat
#
#
# Lint
yamllint
ksylint
rstcheck
pylint
pydocstyle
#
#
# Docs
nbsphinx
markupsafe==2.0.1
sphinx-automodapi
sphinx-rtd-theme==1.3.0
#
#
# Release
check-manifest
pyroma

